<div class="flex items-center justify-center">
  {%set currentGen = app.user.generation %}

  {{
    include("shared/_generation_link.html.twig", {
      gen: "1",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "2",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "3",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "4",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "5",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "6",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "7",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "8",
      link: link,
      currentGen: currentGen
    })
  }}
  {{
    include("shared/_generation_link.html.twig", {
      gen: "9",
      link: link,
      currentGen: currentGen
    })
  }}
</div>
<div
  class="border border-b border-gray-800 dark:border-gray-600 w-full mb-2 mt-2"
></div>
